<div (click)="redirecToProduct(product?.id)">
  <mat-card  class="example-card catalog-card" >
    <img [src]="'http://localhost:5000/'+product!.product_imgs[0].img.img" alt="Photo of a Shiba Inu">
    <mat-card-content >
      <div class="card-title">{{product?.name}}</div>
      <div class="df g10">
        <div class="price">{{product?.price}}</div>
        <div class="oldPrice">{{product?.oldPrice}}</div>
      </div>
      <div class="card-rate">4.6</div>
    </mat-card-content>
    <mat-card-actions align="end" class="df g10">
      <button mat-button class="like">
        <mat-icon class="cw">
            favorite
        </mat-icon>
      </button>
      <button mat-button class="cart">
        <mat-icon class="bl">
            shopping_basket
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
