<mat-card  class="example-card catalog-card">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div class="card-title">Lol ke</div>
    <div class="df g10">
      <div class="price">1000</div>
      <div class="oldPrice">1200</div>
    </div>
    <div class="card-rate">4.6</div>
  </mat-card-content>
  <mat-card-actions align="end" class="df g10">
    <button mat-button class="like">
      <mat-icon class="cw">
          favorite
      </mat-icon>
    </button>
    <button mat-button class="cart">
      <mat-icon class="bl">
          shopping_basket
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
