.catalog-card {
  width: 250px;
  cursor: pointer;
  transition: all 0.18s;
  &:hover {
    background-color: rgb(224, 224, 224);
  }
  
}

.like {
  background-color: #ff5640;
  color: white;
}

.cart {
  background-color: #FFD740;
  color: white;

  
}