
// @import 'https://fonts.googleapis.com/icon?family=Material+Icons';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container {
margin: 0 auto;
  width: 1350px;

}


.g10 {
  gap: 10px;
}

.fdc {
  display: flex;
  flex-direction: column;
}

.df {
  display: flex;
}

.alc {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.mt10 {
  margin-top: 10px;
}

.mt5 {
  margin-top: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
