// @import 'https://fonts.googleapis.com/icon?family=Material+Icons';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.container {
  margin: 0 auto;
  width: 1920px;
  // background-color: rgba(0, 0, 0, 0.112);
}

@media screen and (max-width: 1921px) {
  .container {
    max-width: 1700px;
  }
}

@media screen and (max-width: 1750px) {
  .container {
    max-width: 1450px;
  }
}

@media screen and (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

}


.cw {
  color: white;
}

.bl {
  color: black;
}

.fww {
  flex-wrap: wrap;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.g20 {
  gap: 20px;
}

.g30 {
  gap: 30px;
}

.fdc {
  display: flex;
  flex-direction: column;
}

.df {
  display: flex;
}

.alc {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

mt15 {
  margin-top: 15px;
}


.ml10 {
  margin-left: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mt5 {
  margin-top: 5px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
