.box-color {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;

}


.mat-in {
  width: max-content;
}


.filter-color-inp {
  display: none;


}


.filters {
  width: 300px;
  border: 2px solid #000;
}
