

.sidebar {
  background-color: #673AB7;
  width: 250px;
  flex-basis: 250px;
  height: 100dvh;
}

.content {
  background-color: rgb(162, 162, 162);
  flex: 1;
}
.sidebar-link {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 15px 10px;
  width: 100%;
  &:hover:not(.link-active) {
    background-color: #542f95;
  }
  
}
.link-active {
  color: black;
  background-color: #ffd54c;
}
