<div class="filters">



  <ng-container *ngFor="let filter of filtersProps">
    <div class="filter-block">
      <div class="filter-title">{{filter.title}}</div>
      <div class="df fdc">


        <div class="g10 df fdc ml10">
          @for (item of filter.data; track $index) {

          <input (change)="getValue($event, filter.title)" type="checkbox" class="custom-checkbox" [id]="item.value"
            [name]="filter.title" [value]="item.id.toString()">
          <label [for]="item.value">{{item.value}}</label>
          }
        </div>


      </div>
    </div>
  </ng-container>

</div>
