<div class="OrderItem">
  <div class="OrderItem__header">
    <div class="OrderItem__left">
      <!-- {/* <div class="OrderItem__title">{moment(item.createdAt).locale('ru').format('YYYY-MM-DD')}</div> */} -->
      <a [routerLink]="['/my/order/', orderItemProps?.id]" class="OrderItem__title">Посмотреть подробнее №
        {{orderItemProps?.id}}</a>
    </div>
    <div><span>{{orderItemProps?.status}}</span></div>
    <div class="OrderItem__title">{{orderItemProps?.price}} ₽</div>
  </div>

  <div class="OrderItem__productlist">
    @for(orderItem of orderItemProps?.order_products; track orderItem.id) {
    <div class="OrderItem__productlist-item">
      <div class="OrderItem__productlist-left">
        <div class="OrderItem__productlist-title"><span>{{orderItem.product_char.product.name}}</span></div>
        <!-- {/* <div class="OrderItem__productlist-title">Дата создания: {moment(item.createdAt).format('YYYY-MM-DD')}</div> */} -->
      </div>
      <div class="OrderItem__productlist-rifht">
        <img [src]="'http://localhost:5000/'+orderItem.product_char.product.imgs[0].img.img" alt="item" />
      </div>
    </div>
    }

  </div>
</div>
