<div class="main-page">
  <div class="container">
    <!-- <swiper-container [config]="config" #swiperRef swiperElement init="false">
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 4</swiper-slide>
  </swiper-container> -->
    <!-- <swiper-container #swiperRef swiperElement [config]="config" init="false">
      <swiper-slide *ngFor="let slide of slides" class="slide">
        <img src="https://s.hdnux.com/photos/01/01/50/22/17204391/4/rawImage.jpg" alt="randomized image">
      </swiper-slide>
    </swiper-container> -->
  </div>
  main page
</div>

