<div class="main-page">
  <!-- <div class="container"> -->

    <!-- <div class="swiper-button-prev">sss</div>
    <div class="swiper-button-next">gggg</div> -->
    <!-- <swiper-container #swiperRef swiperElement [config]="config" init="false">
      <swiper-slide *ngFor="let slide of slides" class="slide">
        <img src="https://s.hdnux.com/photos/01/01/50/22/17204391/4/rawImage.jpg" alt="randomized image">
      </swiper-slide>
    </swiper-container>
    <div class="swiper-scrollbar"></div> -->
  <!-- </div> -->
</div>

