
.product-page-content {
  display: flex;
  justify-content: space-between;
}

.product-page-chrs {

}
.slider-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  width: max-content;
  height: 500px;
}


.mySwiper {
  margin: 0;
  height: 100%;
  max-width: 350px;
  border-radius: 15px;
  overflow: hidden;
  swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}



.mySwiper2 {
  margin: 0;
  height: 100%;
  max-width: 100px;

  swiper-slide {
    border-radius: 15px;
    overflow: hidden;
    opacity: 0.4;
    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      
    }
  }
}



.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

