
<div class="product-page">
  <div class="container">
    <div class="product-page-content">
    <div class="slider-container">
        <swiper-container 
        class="mySwiper2" 
        direction="vertical"
        slides-per-view="3"
        space-between="10">
        
        @if (product$ | async; as product) {
          @for (item of product.product_imgs; track $index) {
            <swiper-slide >
                <img [src]="'http://localhost:5000/'+item.img.img" />
            </swiper-slide>
          }
        }
        </swiper-container>
        <swiper-container 
          class="mySwiper"
          thumbs-swiper=".mySwiper2"
          space-between="10"  
          navigation="true">
          @if (product$ | async; as product) {
            @for (item of product.product_imgs; track item.id) {
              <swiper-slide class="prod-slide-down">
                  <img [src]="'http://localhost:5000/'+item.img.img" />
              </swiper-slide>
            }
          }
        </swiper-container>
      </div>

      <div class="product-page-chrs">
        @if (product$ | async; as product) {
          @for (item of product.product_chars; track item) {
           <div class="df g15 alc">
            <div class="">{{item.gender.value}}</div>
            <div class=""></div>
           </div>
          }
        }
      </div>
      <div class="product-page-buy">
        sadasdasdasd
      </div>
    </div>
    <div class="product-page-reviews">

    </div>
  </div>
</div>




<!-- <swiper-container 
class="mySwiper2" 
space-between="10" 
slides-per-view="3" 
direction="vertical"
watch-slides-progress="true">
@if (product$ | async; as product) {
  @for (item of product.product_imgs; track item.id) {
    <swiper-slide class="prod-slide-down">
        <img [src]="'http://localhost:5000/'+item.img.img" />
    </swiper-slide>
  }
}
</swiper-container>
  <swiper-container 
    class="mySwiper"
    thumbs-swiper=".mySwiper2"
    space-between="10" 
    loop="true"
    navigation="true">
    @if (product$ | async; as product) {
      @for (item of product.product_imgs; track item.id) {
        <swiper-slide class="prod-slide-down">
            <img [src]="'http://localhost:5000/'+item.img.img" />
        </swiper-slide>
      }
    } -->
    <!-- <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </swiper-slide> -->
  <!-- </swiper-container> -->