<div class="product-page">
  <div class="container">
    <div class="product-page-content ">
    <div class="slider-container">
        <swiper-container 
          class="mySwiper"
          thumbs-swiper=".mySwiper2"
          space-between="10" 
          loop="true"
          navigation="true">
          
          <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
          </swiper-slide>
          <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
          </swiper-slide>
          <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
          </swiper-slide>
          <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
          </swiper-slide>
          <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
          </swiper-slide>
        </swiper-container>

        <swiper-container 
          class="mySwiper2" 
          loop="true" 
          space-between="10" 
          slides-per-view="3" 
          direction="vertical"
          watch-slides-progress="true">
            <swiper-slide class="prod-slide-down">
                <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
            </swiper-slide>
              <swiper-slide class="prod-slide-down">
                <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
            </swiper-slide>
            <swiper-slide class="prod-slide-down">
              <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
          </swiper-slide>
            <swiper-slide class="prod-slide-down">
              <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
          </swiper-slide>
            <swiper-slide class="prod-slide-down">
              <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
          </swiper-slide>
          </swiper-container>
          
</div>

    <!-- <swiper-container #swiperRef swiperElement [config]="config" init="false">
      <swiper-slide *ngFor="let slide of slides" class="slide">
        <img src="https://s.hdnux.com/photos/01/01/50/22/17204391/4/rawImage.jpg" alt="randomized image">
      </swiper-slide>
    </swiper-container> -->
    </div>
    <div class="product-page-reviews">

    </div>
  </div>
</div>


