<div class="catalog-container">
  <div class="container">
    <div class="df g30">

      <div>
        <app-catalog-filter [filtersProps]="filters$ | async" (emitFilterValue)="onEmitFilterValue($event)">
        </app-catalog-filter>
      </div>


      <div class="catalog-page-list df fww g30 jcc">
        @if (isLoading$ | async) {
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
        <!-- <mat-spinner [diameter]="40" class="mt10"></mat-spinner> -->
        } @else {
        <ng-container *ngFor="let product of products$ | async">
          <app-product-card-ui [product]="product"></app-product-card-ui>
        </ng-container>
        }
      </div>
    </div>
  </div>
</div>
