<div class="table-container">
  <table class="table">
    <thead class="table-thead">
      <tr class="table-tr">
        @for(item of headerData; track $index) {
        <th class="table-th">{{item}}</th>
        }
      </tr>
    </thead>
    <tbody class="table-tbody">
      <tr class="table-tr">
        <td class="table-td">Cell 1</td>
        <td class="table-td">Cell 2</td>
        <td class="table-td">Cell 3</td>
        <td class="table-td">Cell 4</td>
        <td class="table-td">Cell 5</td>
      </tr>
      <tr class="table-tr">
        <td class="table-td">Cell 1</td>
        <td class="table-td">Cell 2</td>
        <td class="table-td">Cell 3</td>
        <td class="table-td">Cell 4</td>
        <td class="table-td">Cell 5</td>
      </tr>
      <tr class="table-tr">
        <td class="table-td">Cell 1</td>
        <td class="table-td">Cell 2</td>
        <td class="table-td">Cell 3</td>
        <td class="table-td">Cell 4</td>
        <td class="table-td">Cell 5</td>
      </tr>
      <tr class="table-tr">
        <td class="table-td">Cell 1</td>
        <td class="table-td">Cell 2</td>
        <td class="table-td">Cell 3</td>
        <td class="table-td">Cell 4</td>
        <td class="table-td">Cell 5</td>
      </tr>
      <tr class="table-tr">
        <td class="table-td">Cell 1</td>
        <td class="table-td">Cell 2</td>
        <td class="table-td">Cell 3</td>
        <td class="table-td">Cell 4</td>
        <td class="table-td">Cell 5</td>
      </tr>
    </tbody>
  </table>
</div>
