<div class="table-container">
  <table class="table">
    <thead class="table-thead">
      <tr class="table-tr">
        @for(item of headerData; track $index) {
        <th class="table-th">{{item}}</th>
        }
      </tr>
    </thead>
    <tbody class="table-tbody">
      @for (item of bodyData; track $index) {
      <tr class="table-tr">
        @for(column of headerData; track $index) {
        <td class="table-td">{{item[column]}}</td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
