<!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
<!-- 
<div class="admin-products">

  <div class="local-container">
  
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
      <mat-tab label="All">All</mat-tab>
      <mat-tab label="Create">

          <form [formGroup]="productFbForm" (submit)="onSubmit()">
        
            <div class="form-wrap">
              <div class="header-title">Main info</div>
              <div class="df g15 alc mt10">

                <mat-form-field appearance="outline" class="example-full-width auth-label">
                  <mat-label>Enter name</mat-label>
                  <input 
                    required 
                    matInput 
                    type="text"
                    formControlName="name"
                    >
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width auth-label">
                  <mat-label>Enter price</mat-label>
                  <input 
                    required 
                    matInput 
                    type="text"
                    formControlName="price"
                    >
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width auth-label">
                  <mat-label>Enter old price</mat-label>
                  <input 
                    matInput 
                    type="text"
                    formControlName="oldPrice"
                    >
                </mat-form-field>
          
              </div>
            </div>
            
            <div class="form-wrap">

              <p class="header-title">Choise characteristic</p>
                <div class="filters-cahrs" formArrayName="chars">
                  @if(filtersService.filters$ | async; as filters) {
                    <div class="df g10 fdc ">
                    @for(char of chars.controls; track $index) {
                      <div class="df g10 row-flex" [formGroupName]="$index">
                        <div class="signUpForm__label-title">{{$index + 1}} | </div>
                        @for(filter of filters; track filter.title) {
                          <mat-form-field>
                            <mat-label>{{filter.title}}</mat-label>
                            <mat-select [formControlName]="filter.title | lowercase | LastLetterPipe">
                              @for (item of filter.data; track item) {
                                <mat-option [value]="item.id">{{item.value}}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                          
                        }     
                        <mat-form-field appearance="fill" class="example-full-width auth-label">
                          <mat-label>count</mat-label>
                          <input 
                            matInput 
                            type="number"
                            formControlName="count"
                            >
                        </mat-form-field>   
  
                     
                        <button (click)="removeChar($index)">removeChar</button>
                      </div>
                    }
                      </div>
                  
                  }
              </div>
              <button (click)="addNewChar($event)">addNewChar</button>
            </div>

            <div formArrayName="info" class="form-wrap">
              <p class="header-title">Choise characteristic</p>
              <div class="form-descr-contnet">
                
                @for(info of info.controls; track $index) {
                  <div class="df alc g10" [formGroupName]="$index">                
                    <mat-form-field appearance="outline" class="example-full-width auth-label">
                      <mat-label>Title</mat-label>
                      <input 
                        required 
                        matInput 
                        type="text"
                        formControlName="title"
                        >
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width auth-label">
                      <mat-label>Description</mat-label>
                      <input 
                        matInput 
                        type="text"
                        formControlName="description"
                        >
                    </mat-form-field>
                    <button (click)="removeImfo($index)">removeDescription</button>

                  </div>
                
                }
              </div>
              <button (click)="addNewInfo($event)">addNewDescription</button>

            </div>
        
            <div class="form-wrap">
              <div class="mt10">Imges</div>
              <label class="signUpForm__label">
                <input
                    (change)="changeImgs($event)" 
                    multiple 
                    required 
                    #Imgsinput
                    type="file" 
                    accept="image/*,.png,.jpg,.gig,.web,"
                    class="signUpForm__label-input" 
                    
                    />
                  </label>
              
          
                  <div class="df alc g15">
                    <ng-container *ngFor="let imgName of this.imgs().imgView">
                      <div class="imgs-block">
                        <img [src]='imgName.src'  [alt]="imgName.name" />
                      </div>
                    </ng-container>
                  </div>
                  <div class="df">
                    <button mat-button type="button" color="accent" mat-flat-button (click)="triggerInputImgs(Imgsinput)" class="btn-upload">Upload</button>
                    @if(filtersService.filters$ | async; as filters) {     
                      @for(filter of filters; track filter.title) {
                        @if(filter.title === 'Colors') {
                          <mat-form-field>
                            <mat-label>coise color</mat-label>
                            <mat-select formControlName="colorId">
                                @for (item of filters[0].data; track item) {
                                  <mat-option [value]="item.id">{{item.value}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                        }
                      }     
                    }
                  </div>
            </div>
            
          
                <button 
                type="submit"
                [ngClass]="!productFbForm.valid ? 'sub-disabled' : null"
                [disabled]="!productFbForm.valid" 
                mat-button  
                >Add new product</button>
          </form>
          {{productFbForm.value | json}}

      </mat-tab>
    </mat-tab-group>


  </div>
</div> -->
