<section class='cart'>

  @if (isCartItemsExist$ | async; as carts ) {
  <div class='cart__empty'>
    <div class='cart__empty-title'>Ваша корзина пуста</div>

    <a [routerLink]="['/Catalog']" class='cart__empty-link'>
      К покупка
    </a>
  </div>
  } @else {
  <div class='cart-main'>
    <div class='cart__list'>

      @for(product of cartItems$ | async; track product.id) {
      <app-cart-item (evantDeleteCartItem)="handleDeleteCartItem($event)"
        (evantDecreaseCartItem)="handleDecreaseCartItem($event)"
        (evantIncreaseCartItem)="handleIncreaseCartItem($event)" [basketId]="basketId" [cartItem]="product">
      </app-cart-item>
      }

    </div>
    <div class='cart__widget'>
      <h3 class='cart__widget-h3'>Адрес получения : </h3>
      <select class='cart__widget-select' (change)="toggleAddress($event)">
        <option value=''>Выберите Адрес</option>
        @for(address of addresses; track address) {
        <option value={{address}}>{{address}}</option>
        }
      </select>
      <h3 class='cart__widget-h3'>Итого : </h3>
      <div class='cart__widget-flex'>
        <div class='cart__widget-title'>
          <!-- Товары ({cartItems.length}) -->
        </div>
        <!-- <div class='Cart__widget-price'>{cartQuantity}₽</div> -->
      </div>
      <!-- <button disabled={address===null || address==='' } type='button' class='Cart__widget-btn'
        onClick={handleCreateOrder(userId, basketId, cartQuantity, address)}>
        Перейти к оформлению
      </button> -->

    </div>
  </div>
  }

</section>
