<section class='cart'>

  @if (items === 0) {
  <div class='cart__empty'>
    <div class='cart__empty-title'>Ваша корзина пуста</div>
    <div class='cart__empty-img'>
      (((((((((((((((((((((((((
    </div>
    <a class='cart__empty-link'>
      К покупкам
    </a>
  </div>
  } @else {
  <div class='cart-main'>
    <div class='cart__list'>

      <app-cart-item></app-cart-item>
      <!-- {cartItems.map((item) => (
      <CartOrderItem key={item.id} product={item} basketId={basketId}
        asyncDecreaseCartQuantity={asyncDecreaseCartQuantity} asyncIncreaseCartQuantity={asyncIncreaseCartQuantity}
        removeFromCart={removeFromCart} />
      ))} -->
    </div>
    <div class='cart__widget'>
      <h3 class='cart__widget-h3'>Адрес получения : </h3>
      <!-- <select class='Cart__widget-select' onChange={(e)=> setAddress(e.target.value)}
        >
        <option value=''>Выберите Адрес</option>
        {arrAdreses.map((item) => (
        <option value={item}>{item}</option>
        ))}
      </select> -->
      <h3 class='cart__widget-h3'>Итого : </h3>
      <div class='cart__widget-flex'>
        <div class='cart__widget-title'>
          <!-- Товары ({cartItems.length}) -->
        </div>
        <!-- <div class='Cart__widget-price'>{cartQuantity}₽</div> -->
      </div>
      <!-- <button disabled={address===null || address==='' } type='button' class='Cart__widget-btn'
        onClick={handleCreateOrder(userId, basketId, cartQuantity, address)}>
        Перейти к оформлению
      </button> -->

    </div>
  </div>
  }

</section>
