<section class='cart'>

  @if (isCartItemsExist$ | async; as carts ) {
  <div class='cart__empty'>
    <div class='cart__empty-title'>Ваша корзина пуста</div>

    <a [routerLink]="['/Catalog']" class='cart__empty-link'>
      К покупка
    </a>
  </div>
  } @else {
  <div class='cart-main'>
    <div class='cart__list'>

      <!-- @if(isLoadingCartItems$ | async) {
      <mat-spinner [diameter]="40" class="mt10"></mat-spinner>

      } @else { -->

      @for(product of cartItems$ | async; track product.id) {
      <app-cart-item [isLoading$]="isLoadingCartItems$" (evantDeleteCartItem)="handleDeleteCartItem($event)"
        (evantDecreaseCartItem)="handleDecreaseCartItem($event)"
        (evantIncreaseCartItem)="handleIncreaseCartItem($event)" [basketId]="basketId" [cartItem]="product">
      </app-cart-item>
      }
      <!-- } -->

    </div>
    <div class='cart__widget'>
      <h3 class='cart__widget-h3'>Address receiving : </h3>
      <select class='cart__widget-select' (change)="toggleAddress($event)">
        <option value=''>Chouse address</option>
        @for(address of addresses; track address) {
        <option value={{address}}>{{address}}</option>
        }
      </select>
      <h3 class='cart__widget-h3'>Total : </h3>
      <div class='cart__widget-flex'>
        <div class='cart__widget-title'>
          Items {{(cartItems$ | async)?.length}}
        </div>
        <div class='cart__widget-price'>{{cartQuantity$ | async}}₽</div>
      </div>
      <button [disabled]="activeAddress()===null || activeAddress() === '' " type='button' class='cart__widget-btn'>
        Перейти к оформлению
      </button>

    </div>
  </div>
  }

</section>


<!-- onClick={handleCreateOrder(userId, basketId, cartQuantity, address)} -->
