<mat-dialog-content>
  <p>Create product</p>
  <form [formGroup]="productFbForm">

    <div class="df g15 alc">
      <mat-form-field appearance="outline" class="example-full-width auth-label">
        <mat-label>Enter name</mat-label>
        <input 
          required 
          matInput 
          type="text"
          formControlName="name"
          >
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width auth-label">
        <mat-label>Enter price</mat-label>
        <input 
          required 
          matInput 
          type="text"
          formControlName="price"
          >
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width auth-label">
        <mat-label>Enter old price</mat-label>
        <input 
          matInput 
          type="text"
          formControlName="oldPrice"
          >
      </mat-form-field>

    </div>

    <p>Choise characteristic</p>
      <div class="filters-cahrs" formGroupName="chars">
        @if(filtersService.filters$ | async; as filters) {
          <div class="df g10 fdc">
           @for(filter of filters; track filter.title) {
                <div class="">{{filter.title}}</div>
                <mat-form-field>
                  <mat-label>Favorite food</mat-label>
                  <mat-select>
                    @for (item of filter.data; track item) {
                      <mat-option [value]="item.id">{{item.value}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              } 
            </div>
        
        }
    </div>

        <div >
          <div class="mt10">Imges</div>
            <label class="signUpForm__label">
              <input
                (change)="changeImgs($event)" 
                multiple 
                required 
                type="file" 
                accept="image/*,.png,.jpg,.gig,.web,"
                class="signUpForm__label-input" 
                formControlName="imgs"/>
            </label>
        </div>

        <div class="df alc g15">
          <ng-container *ngFor="let imgName of this.imgs()">
            <div class="img-forms">
              <img [src]='imgName.src'  [alt]="imgName.name" />
            </div>
          </ng-container>
        </div>
  
  </form>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button 
      [ngClass]="!productFbForm.valid ? 'disabled' : null"
      [disabled]="!productFbForm.valid" 
      mat-button 
      [mat-dialog-close]="productFbForm.value" 
      >Ok</button>
  </mat-dialog-actions>
</mat-dialog-content>