<mat-dialog-content>
  <p>Create product</p>
  <form [formGroup]="productFbForm">

    <div class="df g15 alc">
      <mat-form-field appearance="outline" class="example-full-width auth-label">
        <mat-label>Enter name</mat-label>
        <input 
          required 
          matInput 
          type="text"
          formControlName="name"
          >
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width auth-label">
        <mat-label>Enter price</mat-label>
        <input 
          required 
          matInput 
          type="text"
          formControlName="price"
          >
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width auth-label">
        <mat-label>Enter old price</mat-label>
        <input 
          matInput 
          type="text"
          formControlName="oldPrice"
          >
      </mat-form-field>

    </div>

    <p>Choise characteristic</p>
      <div class="filters-cahrs" formArrayName="chars">
        @if(filtersService.filters$ | async; as filters) {
          <div class="df g10 ">
          @for(char of chars.controls; track $index) {
            <div [formGroupName]="$index">
              @for(filter of filters; track filter.title) {
                <mat-form-field>
                  <mat-label>{{filter.title}}</mat-label>
                  <mat-select [formControlName]="filter.title | lowercase | LastLetterPipe">
                    @for (item of filter.data; track item) {
                      <mat-option [value]="item.id">{{item.value}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                
              }     
              <mat-form-field appearance="fill" class="example-full-width auth-label">
                <mat-label>count</mat-label>
                <input 
                  matInput 
                  type="text"
                  formControlName="count"
                  >
              </mat-form-field>   
              <!-- <mat-form-field>
                <mat-label>{{filters[$index].title}}</mat-label>
                <mat-select [formControlName]="filters[$index].title | lowercase | LastLetterPipe">
                  @for (item of filters[$index].data; track item) {
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  }
                </mat-select>
              </mat-form-field> -->
           
              <button (click)="removeChar($index)">removeChar</button>
            </div>
          }
            </div>
        
        }
    </div>
    <button (click)="addNewChar($event)">addNewChar</button>


        <div >
          <div class="mt10">Imges</div>
            <label class="signUpForm__label">
              <input
                (change)="changeImgs($event)" 
                multiple 
                required 
                #Imgsinput
                type="file" 
                accept="image/*,.png,.jpg,.gig,.web,"
                class="signUpForm__label-input" 
                formControlName="imgs"/>
            </label>
        </div>

        <div (click)="triggerInputImgs(Imgsinput)" class="btn-upload">Upload</div>

        <div class="df alc g15">
          <ng-container *ngFor="let imgName of this.imgs()">
            <div class="img-forms">
              <img [src]='imgName.src'  [alt]="imgName.name" />
            </div>
          </ng-container>
        </div>
  
  </form>

  {{productFbForm.value | json}}
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button 
      [ngClass]="!productFbForm.valid ? 'disabled' : null"
      [disabled]="!productFbForm.valid" 
      mat-button 
      [mat-dialog-close]="productFbForm.value" 
      >Ok</button>
  </mat-dialog-actions>
</mat-dialog-content>