
<div class="catalog-page">
  <div class="container">
    <div class="catalog-page-filters">

      <ng-container *ngFor="let item of filtersService.filters$ | async">
        <div class="filter-block">
          <div class="filter-title">{{item.title}}</div>
          <div class="df fdc">
            <mat-checkbox *ngFor="let item of item.data" class="example-margin">{{item.value}}</mat-checkbox>
          </div>
        </div>
      </ng-container>


    </div>
    <div class="catalog-page-list">

    </div>
  </div>
</div>