<form class="auth-form" formShadow>
  <h2 class="auth-title">Sign up</h2>

  <div class="df fdc  alc " >
    <mat-form-field appearance="outline" class="example-full-width auth-label">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-full-width auth-label">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-full-width auth-label">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="example-full-width auth-label">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</form>