.product-page-content {
  display: flex;
  justify-content: space-between;
}

.chrs-wrap-title {
  font-size: 20px;
}

.chrs-wrap-description {
  font-size: 20px;

}

.product-page-chrs {
  margin-top: 20px;
}

.slider-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  width: max-content;
  height: 500px;
}


.mySwiper {
  margin: 0;
  height: 100%;
  max-width: 350px;
  border-radius: 15px;
  overflow: hidden;

  swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}



.mySwiper2 {
  margin: 0;
  height: 100%;
  max-width: 100px;

  swiper-slide {
    border-radius: 15px;
    overflow: hidden;
    opacity: 0.4;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;

    }
  }
}



.product-chrs-wrap {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 15px;
  border-bottom: 2px solid #b2c0d0;

  // gap: 50px;
  &:nth-last-child(1) {
    border-bottom: none;

  }
}



.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}





.product-page-buy {
  height: max-content;
  border-radius: 15px;
  padding: 15px;
  width: 300px;
  // font-size: 25px;
  // background-color: #4444;
  -webkit-box-shadow: 0px 0px 22px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 22px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 22px 9px rgba(34, 60, 80, 0.2);
}


.like-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  background-color: #EBF7FF;

  &:hover {
    background-color: #d0f5f8;
  }
}

.active-like {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  background-color: #ffebeb;

  &:hover {
    background-color: #f8d0d0;
  }
}


.cart-btn {
  border: none;
  background-color: #4182E3;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  span {
    font-size: 18px;
    color: white;

  }

  &:hover {
    background-color: #63a1ff;
  }

  &:disabled {
    background-color: red;
  }
}

.widget-buy-price {
  font-size: 18px;
}



.span-price {
  border-radius: 8px;
  padding: 5px;
  background-color: #9f41e3;
  color: white;
}

.btn-size {
  position: relative;
  padding: 5px;
  border: 2px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  cursor: pointer;
}

.active-size {
  // background-color: #14a7b2;
  // border-radius: 5px;
  border: 2px solid #d041e3;
}

.tooltip-def {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -20px;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  transition: visibility 0s, opacity 0.3s linear, top 0.3s;
  z-index: 1000;
}

.tooltip-active {
  visibility: visible;
  opacity: 1;
  width: max-content;
  background-color: black;
  color: white;
  z-index: 1000;
  position: absolute;
  top: -35px;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  transition: visibility 0s, opacity 0.3s linear, top 0.3s;
  z-index: 1000;
}
