@if (product$ | async; as product) {

<div class="product-detailed-container">
  <div class="container">

    <div class="product-page">
      <div class="container">
        <div class="product-page-content">
          <div class="slider-container">
            <swiper-container class="mySwiper2" direction="vertical" slides-per-view="3" space-between="10">

              @if (product$ | async; as product) {
              @for (item of product.imgs; track $index) {
              <swiper-slide>
                <img [src]="'http://localhost:5000/'+item.img.img" />
              </swiper-slide>
              }
              }
            </swiper-container>
            <swiper-container class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
              @if (product$ | async; as product) {
              @for (item of product.imgs; track item.id) {
              <swiper-slide class="prod-slide-down">
                <img [src]="'http://localhost:5000/'+item.img.img" />
              </swiper-slide>
              }
              }
            </swiper-container>
          </div>

          <div class="product-page-chrs df fdc g10">
            @for (item of product.info; track item) {
            <div class="product-chrs-wrap">
              <div class="chrs-wrap-title">{{item.title}}</div>
              <div class="chrs-wrap-description">{{item.description}}</div>
            </div>
            }
          </div>
          <div class="product-page-buy">
            <div class="widget-buy">
              <div class="df g10 alc">
                <div class="widget-buy-price span-price">{{product.price}}</div>
                <s>
                  <div class="widget-buy-oldprice ">{{product.oldPrice}}</div>
                </s>
              </div>
              <div class="df g10 alc mt10">
                @for(item of product.chars; track item) {
                <div [ngClass]="{'active-size': sizeId === item.sizeId}" (click)="chouseSizeProduct(item.sizeId)"
                  appCountOfSize="remained {{item.count}}" class="btn-size">
                  {{item.size.value}}</div>
                }

              </div>
              <div class="df g10 mt10">
                <button class="like-btn">like</button>
                <button [disabled]="!sizeId" class="cart-btn"
                  (click)="increaseCartItemById(productId, basketId, sizeId)">Add in the
                  cart</button>
                <!-- @if (inCart$ |async) {
                  <button>Lox</button>
                  } @else {
                  <button [disabled]="!sizeId" class="cart-btn"
                    (click)="increaseCartItemById(productId, basketId, sizeId)">Add in the
                    cart</button>
                  } -->
              </div>
            </div>
          </div>
        </div>
        <div class="product-page-reviews">

        </div>
      </div>
    </div>
  </div>
</div>


}
