<div class='CartOrderItem'>
  <div class='CartOrderItem__wrapper'>
    <div class='CartOrderItem__left'>
      <div class='CartOrderItem__img'>
        <img [src]="'http://localhost:5000/' + cartItemProps.product_char.product.imgs[0].img.img" alt='asdas' />
      </div>
      <div class="df alc g10">
        <div class="">Размер: {{cartItemProps.product_char.size.value}}</div>
        <div class="">{{cartItemProps.product_char.gender.value}}</div>
      </div>
    </div>
    <div class="CartOrderItem__middle">
      <div class='CartOrderItem__title'>{{cartItemProps.product_char.product.name}}</div>
      <div class='CartOrderItem__price'>
        <div class='CartOrderItem__price-total'>
          {{cartItemProps.product_char.product.price * cartItemProps.quantity }} ₽
        </div>
        <div class='CartOrderItem__price-oneItem'>
          {{cartItemProps.product_char.product.price}} ₽ за Шт.
        </div>
      </div>
    </div>
    <div class='CartOrderItem__right'>
      <div class='CartOrderItem__counter'>
        <div class='CartOrderItem__orderSetting-flex'>
          <button class='CartOrderItem__orderSetting-btn'
            (click)="handleIncreaseCartItem(cartItemProps.product_char.product.id, basketIdProps, cartItemProps.product_char.size.id)">
            +
          </button>
          <div class='CartOrderItem__orderSetting-title'>
            {{cartItemProps.quantity}}
          </div>
          <button class='CartOrderItem__orderSetting-btn'
            (click)="handleDecreaseCartItem(cartItemProps.product_char.product.id, basketIdProps, cartItemProps.product_char.size.id)"
            [disabled]="cartItemProps.quantity === 1">
            -
          </button>
        </div>
        <button class='CartOrderItem__orderSetting-btnremove'
          (click)="handleDeleteCartItem(cartItemProps.product_char.product.id, basketIdProps, cartItemProps.product_char.size.id )">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>
